:root {
    /* FONT */
    --font-dm-sans:"DM Sans", sans-serif;

    /* COLOR */
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --search-bg: #121212;
    --subscribe-color: #a7a7a7;
    --content-color: #fff;
}
